.input-choices-wrapper {
	.input-group-default {
		margin-left: 15px;

		.control-label {
			display: table-cell;
			line-height: 36px;
			padding-right: 10px;
			vertical-align: top;
			width: 1%;
		}
	}

	.input-localized {
		display: table-cell;
		padding-bottom: 8px;
	}

	.input-group-addon {
		padding-left: 0;
		padding-right: 0;
		vertical-align: top;
	}
}

.portlet-polls {
	.form-group.poll-choice-group {
		display: flex;

		.poll-choice-input {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.delete-poll-choice {
			align-self: flex-start;
			position: relative;
			top: 25px;
		}
	}

	.input-choices-wrapper .btn-delete {
		margin-top: 0;
	}

	.input-choices-wrapper .input-group-item {
		width: 46px;
	}

	.input-choices-wrapper .input-localized-input {
		align-items: stretch;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 100%;
	}

	.input-choices-wrapper .input-group-default {
		display: flex;
	}

	.input-choices-wrapper .control-label {
		display: flex;
		margin-right: 13px;
		position: relative;
	}
}
